* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  color: rgb(42, 186, 114);
  background-color: rgb(237, 237, 237);
  height: 100vh;
  width: 100%;
  position: relative;
}

.header {
  padding: 15px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 1px 8px 1px rgba(84, 74, 84, 0.3);
}

.header h1 {
  transition: 0.3s ease;
  cursor: pointer;
}

.header h1:hover {
  transform: scale(1.1);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul {
  display: flex;
  justify-content: space-between;
}

.nav ul li {
  list-style: none;
  margin: 0 30px;
  font-weight: 600;
  transition: 0.3s ease;
  cursor: pointer;
}

.nav ul li:hover {
  transform: scale(1.1);
}

.btn {
  padding: 8px 20px;
  margin: 0 10px;
  border-radius: 4px;
  outline: none;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn-masuk-daftar {
  display: flex;
}

.btn-daftar {
  background-color: rgb(255, 255, 255);
  color: rgb(42, 186, 114);
  border: 1px solid rgb(42, 186, 114);
}
.btn-daftar:hover {
  background-color: rgb(42, 186, 114);
  color: rgb(255, 255, 255);
}
.btn-masuk,
.btn-cta {
  background-color: rgb(42, 186, 114);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
}
.btn-masuk:hover,
.btn-cta:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(42, 186, 114);
  border: 1px solid rgb(42, 186, 114);
}

.btn-cta {
  margin: 40px 0;
}

.main {
  padding: 5px 100px;
  height: 60%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.title {
  width: 50%;
}

.title .walau {
  font-weight: 800;
  color: rgb(16, 160, 237);
}

.title .beda {
  font-weight: 800;
  color: rgb(240, 49, 49);
}

.masuk,
.daftar {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.345);
  top: 0;
}
.kosong {
  width: 100%;
  height: 100%;
  position: absolute;
}

.form-masuk {
  padding: 20px;
  z-index: 99;
  border-radius: 10px;
  background-color: rgb(42, 186, 114);
  width: 20%;
  height: 30%;
}

.form-daftar {
  padding: 20px;
  z-index: 99;
  border-radius: 10px;
  background-color: rgb(42, 186, 114);
  width: 20%;
  height: 40%;
}

.form-masuk h3,
.form-daftar h3 {
  color: #fff;
  text-align: center;
}

.form-masuk form,
.form-daftar form {
  display: flex;
  /* width: 30%; */
  /* background-color: red; */
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  /* text-align: center; */
}

.form-masuk form label,
.form-daftar form label {
  margin-bottom: -15px;
  text-align: center;
  font-weight: 600;
  color: #fff;
}

.form-masuk form input,
.form-daftar form input {
  border-radius: 4px;
  border: none;
  padding: 4px 8px;
  font-family: inherit;
  outline: none;
}

.form-masuk form button:hover,
.form-daftar form button:hover {
  background-color: rgb(223, 222, 222);
  color: rgb(42, 186, 114);
}

footer {
  background-color: rgb(42, 186, 114);
  color: white;
  position: absolute;
  width: 100%;
  text-align: center;
  padding: 8px;
  bottom: 0;
}

.beda::before {
  content: "Pindah Jalur Karir.";
  animation: animate infinite 12s;
}

@keyframes animate {
  0% {
    content: "Beda Jurusan";
  }
  50% {
    content: "Belum Lulus Kuliah";
  }

  75% {
    content: "Kurang Pengalaman";
  }
}
